body{
    width: 100%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1D1E2C;
    background: #59656F;
    margin: 0;
    padding-bottom: 95px;
    box-sizing: border-box;
}

.home{
    width: 100%;
    /* height: 100vh;    */
}
.stat, .about{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
stat-chart{
    display: block;
    width: 70%;
    height: 70%;
    background: #fff;
    color: #1D1E2C;
}
header{
    width: 100%;
    height: 80px;
    color: #F6F4F3;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 5;
    top: 0;
    
    background: #1D1E2C;
}
header a{
    font-size: 25px;
    text-decoration: none;
    color: #F6F4F3;
    /* color: #1D1E2C; */
}
header .user{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.navbar{
    position: absolute;
    left: 15px;
    padding: 15px 0; 
    z-index: 5;
}
/* mettre les navbar cote à cote */
.navbar .link{
    display: flex;
    /* align-items: center; */
    margin: auto;
}
.navbar .link span{
    margin-right: 40px;
    position: relative;
}
.navbar .link a{
    padding: 10px; 
}
#home-link{
    text-decoration: underline;
    text-decoration-color: #FFD400;
    color: #FFD400;
}
.header{
    position: relative;
    display: flex;
    
}
.search-container{
    /* color: #1D1E2C; */
    position: absolute;
    right: 15px;
    /* bottom: 5px; */
}
#input-search{
    height: 25px;
    width: 240px;
    border: none;
    border-radius: 10px 5px;
    outline: none;
    padding-left:10px ;
    margin-top: 5px;
}
#button-search{
    width: 85px;
    height: 30px;
    background: #FDFFFC;
    color: #1D1E2C;
    border: none;
    border-radius: 10px 5px;
}
#button-search:hover{
    background: #FFD400;
    color: #1D1E2C;
}
.benefice-container{
    display: flex;
    font-size: 25px;
    margin: 20px;   
}
.benefice-total, .marchandise-total{
    color: #52B788;
    margin: 0 10px ;
}
.select-container{
    margin-left: 20px; 
}
.region, .sales-channel{
    margin-right: 15px;
    outline: none;
    padding: 5px;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.container-click{
    width: 100%;
    height: 100vh;
    position: fixed;
    
    z-index: 6; 
    display: none;
    justify-content: center;
    align-items: center;
}
sale-list{
    position: relative;
    width: 30%;
    border: none;
    font-size: 20px ;
    display: none;
    flex-direction: column;
    align-items: center;
    background: #1D1E2C;
    color: #FDFFFC;
    box-shadow: #2e2f3f 8px 8px 8px;
    border-radius: 15px;
    margin:10px 10px ;
    padding: 10px 0;  
    cursor: pointer;  
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px 0;
}
.preview, .next{
    color: #1D1E2C;
    width: 90px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.next:hover, .preview:hover{
    background: #1D1E2C;
    color: #FFD400;
}
.legende-par-year{
    font-size: 25px;
    color: #FFD400;
}
@media only screen and (max-width:768px){
    sale-list{
        width: 45%;
    }
    .navbar{
        display: none;
    }
    header{
        display: flex;
        justify-content: center;
    }
    .search-container{
        position: relative;
    }
    .container-click{
        width: 90%;
    }
}
@media only screen and (max-width:375px){
    sale-list{
        width: 100%;
    }
}